/vendor/
/.idea/
.DS_Store
.env
node_modules
public/css/
public/js/
public/img/
public/coreui/
public/mix-manifest.json
public/tempusdominus-bootstrap-4
public/daterangepicker
public/ckeditor
public/storage
public/webfonts
docker-compose.yml
public/rating
public/summernote
public/themes
public/custom